<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Takoradi Technical University</title>
    <link rel="stylesheet" href="loginPage.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</head>
<body>
    <div class="wrapper">
        <img src="ttu.png" alt="" srcset="">
       {{{body}}}
    </div>
</body>
</html>