
            <div class="rightcol" style="display: flex; flex-direction: column; position: relative;">



                <div class="menubottoms" id="webbot" style="width: 190px; height: 190px; border-radius: 5px; box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7); background-color: #ebeef1; position: absolute; left: 0%; top: 59%; border-bottom: 2px solid black; display: none; flex-direction: column;">
                    <div class="logout" style="display: flex; width: 100%; flex-direction: row; height: 50px;  cursor: pointer;   gap: 8px;  margin-top: 5px; justify-content: center; align-items: center;">
                       <box-icon name='log-out' type='solid' ></box-icon>
                       <h5> Home Courses</h5>
                   </div>
                    <hr>
                    <div class="profile" style="display: flex; width: 100%; flex-direction: row;  cursor: pointer;   height: 50px; gap: 8px; margin-top: 5px; justify-content: center; align-items: center;">
                       <box-icon type='solid' name='user'></box-icon>
                       <h5>Testimonial</h5>
                   </div>

                    <hr>

                   <div class="logout" style="display: flex; width: 100%; flex-direction: row; height: 50px;  cursor: pointer;   gap: 8px;  margin-top: 5px; justify-content: center; align-items: center;">
                    <box-icon type='solid' name='user-detail'></box-icon>
                    <h5>Our Staff</h5>
                </div>

                 <hr>


                 <div class="logout" style="display: flex; width: 100%; flex-direction: row; cursor: pointer; height: 50px;   gap: 8px;  margin-top: 5px; justify-content: center; align-items: center;">
                    <box-icon name='git-pull-request' ></box-icon>
                    <h5>Adm. Requirement</h5>
                </div>
                 <hr>

                 
                 <div class="logout" style="display: flex; width: 100%; flex-direction: row; height: 50px; cursor: pointer;  gap: 8px;  margin-top: 5px; justify-content: center; align-items: center;">
                    <box-icon type='solid' name='book'></box-icon>
                    <h5>Courses Page</h5>
                </div>
                 <hr>
                   </div>






             

                   <div class="timeandFek" style=" width: 100%; height: 50px; display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 10px;">
                    <div class="circsFek" style="display: flex; justify-content: center;align-items: center; flex-direction: row; width: 50%;">
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: red;">T</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: blue;">A</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: yellow;">K</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: green;">O</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: gold;">R</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: brown;">A</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: red;">D</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: blue;">I</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5>-</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: green;">T</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: gold;">E</h5></div>
    
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: rgb(129, 48, 250);">C</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: green;">H</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: brown;">N</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: yellow;">I</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: blue;">C</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: violetdarkred;">A</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: gold;">L</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5>-</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: green;">U</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: gold;">N</h5></div>
                    <div class="r1" style="width: 30px; height: 30px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 style="color: violet;">I</h5></div>
    
                    </div>
                   
                    <div class="time" style="width: 50%; display: flex; flex-direction: row;  justify-content: center; align-items: center;">
                    
                        <div class="t1" style="width: 35px; height: 35px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column;"><h5>H</h5><h5 id="hour">E</h5></div>
                        <div class="t1" style="width: 35px; height: 35px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;flex-direction: column;"><h5>M</h5><h5 id="minute">E</h5></div>
                        <div class="t1" style="width: 35px; height: 35px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;flex-direction: column;"><h5>S</h5><h5 id="second">E</h5></div>
                        <div class="t1" style="width: 35px; height: 35px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h5 id="P">E</h5></div>
                        <div class="t1" style="width: 35px; height: 35px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;"><h1>-</h1></div>
                        <div class="t1" style="width: 35px; height: 35px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;flex-direction: column;"><h5>D</h5><h5 id="day">E</h5></div>
                        <div class="t1" style="width: 35px; height: 35px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;flex-direction: column;"><h5>M</h5><h5 id="month">E</h5></div>
                        <div class="t1" style="width: 35px; height: 35px; background-color: #ebeef1;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7);border-radius: 100%; display: flex; justify-content: center; align-items: center;flex-direction: column;"><h5>Y</h5><h5 id="year">E</h5></div>
                    
                    </div>
    
    
    
    
    
    
    
    
    
                    </div>

                <div class="ActualContent" style="width: 100%; height: 100%;  display: flex; flex-direction: row; justify-content: center; align-items: center;">
                 

                    <div class="logbox" style="height: 340px; width: 300px; background-color: #ebeef1; margin-top: 0; box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255,255,0.7); border-radius: 10px;">
                        <div class="logheader" style="width: 100%; height: 50px; background-color: #00008b; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom: 2px solid #f3f3f3; display: flex; align-items: center; justify-content: center; flex-direction: row;">
                        <h5 style="font-weight: bolder; color: #fff;">Admin Dialog</h5>
                        </div>
                        <form action="/addUser" method="post">
                <div class="box" style="width: 100%; height: 280px;  display: flex; justify-content: center; flex-direction: column; align-items: center; gap: 14px;">
                    <h5 class="message" style="color: {{this.data.color}};">{{this.data.res}} </h5>
                
                    <div class="input" style="width: 200px; border-bottom: 3px solid #413e3e; height: 30px; background-color: #fff; border-radius: 10px;"><input type="text" name="Username" id="" style="outline: none;  font-weight: bolder; border: 0; width: 200px; height: 30px; border-radius: 10px; text-align: center;" placeholder="Username..." required></div>
                    <div class="input" style="width: 200px; border-bottom: 3px solid #413e3e; height: 30px; background-color: #fff; border-radius: 10px;"><input type="password" name="Password" id="" style="outline: none;   font-weight: bolder; border: 0; width: 200px; height: 30px; border-radius: 10px; text-align: center;" placeholder="Password..." required></div>

                   
                
                    <input type="submit" value="Save" style="width: 100px;  height: 60px; background-color: #00008b; border-radius: 10px;box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px -10px 10px -1px rgba(255, 255,255,0.7);color: white; outline: none; border: 0; ">
                
                </div>
                        </form>
                
                
                        </div>
















                </div>




                <div class="menubottom" id="menubot" style="width: 110px; height: 116px; border-radius: 5px; box-shadow: 10px 10px 10px -1px rgba(10, 99, 169, 0.16),-10px -10px 10px -1px rgba(255, 255, 255, 0.7); background-color: #ebeef1; position: absolute; left: 87%; top: 60%; border-bottom: 2px solid black; display: none; flex-direction: column;">
                 <div class="logout" style="display: flex; width: 100%; cursor: pointer; flex-direction: row; height: 50px;   gap: 8px;  margin-top: 5px; justify-content: center; align-items: center;">
                    <box-icon name='log-out' type='solid' ></box-icon>
                              <a href="/logout" class="" style="text-decoration: none; color:black"> <h5>Logout</h5></a>
                </div>
                 <hr>
                 <div class="profile" style="display: flex; width: 100%;  cursor: pointer; flex-direction: row; height: 50px; gap: 8px; margin-top: 5px; justify-content: center; align-items: center;">
                    <box-icon type='solid' name='user'></box-icon>
                              <a href="/Profile" class="" style="text-decoration: none; color:black"> <h5>Profile</h5></a>
                </div>
                </div>

                <div class="circcont" style="display: flex; flex-direction: row; align-items: center; justify-content: flex-end; width: 95%; height: 40px;">
                <div class="circ" id="click" style="width: 40px; height: 40px; border-radius: 100%; background-color: #ddd;  box-shadow:  10px 10px 10px -1px rgba(10, 99, 169, 0.16), -10px 10px -1px rgba(255, 255, 255, 0.7); align-self: center; margin-left: 15px !important; margin-bottom: 8px; display: flex; flex-direction: row; justify-content: center;align-items: center;cursor: pointer;">
                    <box-icon type='solid' name='up-arrow'></box-icon>
                </div>
                </div>
            </div>
